In [24]:
import pandas as pd
from datetime import datetime, date, timedelta

In [18]:
path = 'C:\\Users\\mmak\\Desktop\\calgary\\Calgary_Resale.xlsx'
current_month = datetime.now().month

In [21]:
current_day = date.today().replace(day=1)

In [25]:
prev_month = current_day - timedelta(days=1)

In [26]:
prev_month

datetime.date(2022, 4, 30)

In [ ]:
date_range = pd.date_range(start='2014/01/01', end = prev_month, freq='M')

In [12]:
df = pd.read_excel(path,engine='openpyxl',sheet_name='CREB - Economic Region', header=[3,4])

In [34]:
df[:100]

   Unnamed: 0_level_0 Unnamed: 1_level_0       #  % Change Quarterly  \
                 Date               Date   Sales     yr/yr     Sales
0              2014.0               Jan.  1708.0       NaN       NaN
1                 NaN               Feb.  2223.0       NaN       NaN
2                 NaN               Mar.  3014.0       NaN    6945.0
3                 NaN               Apr.  3158.0       NaN       NaN
4                 NaN                May  3621.0       NaN       NaN
..                ...                ...     ...       ...       ...
95                NaN               Dec.  2274.0  0.358423    7939.0
96             2022.0               Jan.  2600.0  0.524033       NaN
97                NaN               Feb.  4252.0  0.689984       NaN
98                NaN               Mar.  5333.0  0.355273   12185.0
99                NaN               Apr.     NaN -1.000000       NaN

     Q % chg    YTD  % Change        Dollar     Quarterly  ...  % Change  \
       yr/yr  Sales YTD Sales        Volume        Volume  ...   mo/mo.1
0        NaN   1708       NaN  7.882864e+08           NaN  ...       NaN
1        NaN   3931       NaN  1.068123e+09           NaN  ...  0.011862
2        NaN   6945       NaN  1.457724e+09  3.314133e+09  ...  0.014537
3        NaN  10103       NaN  1.508122e+09           NaN  ...  0.013404
4        NaN  13724       NaN  1.771107e+09           NaN  ...  0.014823
..       ...    ...       ...           ...           ...  ...       ...
95  0.301689  37512  0.687525  1.112378e+09  3.944376e+09  ...  0.015370
96       NaN   2600  0.524033  1.371545e+09           NaN  ...  0.014267
97       NaN   6852  0.622928  2.403886e+09           NaN  ...  0.054007
98  0.493809  12185  0.493809  2.956925e+09  6.732356e+09  ...  0.038020
99       NaN  12185 -0.029238  0.000000e+00           NaN  ... -1.000000

    Index % Change             5-Year    Hide this column      Nominal  \
    (HPI)  yr/yr.6   mo/mo.2 Mortgage Unnamed: 37_level_1        P & I
0   196.0      NaN       NaN     5.24            0.004367  2486.665642
1   198.0      NaN  0.010204     5.24            0.004367  2588.826012
2   201.0      NaN  0.015152     4.99            0.004158  2542.102579
3   204.0      NaN  0.014925     4.79            0.003992  2460.265349
4   207.0      NaN  0.014706     4.79            0.003992  2519.845751
..    ...      ...       ...      ...                 ...          ...
95    NaN      NaN       NaN      NaN                 NaN          NaN
96    NaN      NaN       NaN      NaN                 NaN          NaN
97    NaN      NaN       NaN      NaN                 NaN          NaN
98    NaN      NaN       NaN      NaN                 NaN          NaN
99    NaN      NaN       NaN      NaN                 NaN          NaN

     Yr/Yr                 LTV
   % Chg.1 Unnamed: 40_level_1 6 month moving avg DOM
0      NaN       415373.400000                    NaN
1      NaN       432438.300000                    NaN
2      NaN       435285.900000                    NaN
3      NaN       429800.400000                    NaN
4      NaN       440208.903480                    NaN
..     ...                 ...                    ...
95     NaN       440255.332718                    NaN
96     NaN       474765.710538                    NaN
97     NaN       508818.698424                    NaN
98     NaN       499012.320833                    NaN
99     NaN            0.000000                    NaN

[100 rows x 42 columns]

In [33]:
len(date_range)

100

In [39]:
df[len(date_range):]

    Unnamed: 0_level_0 Unnamed: 1_level_0     # % Change Quarterly Q % chg  \
                  Date               Date Sales    yr/yr     Sales   yr/yr
100                NaN                May   NaN     -1.0       NaN     NaN
101                NaN               June   NaN     -1.0       0.0    -1.0
102                NaN               July   NaN     -1.0       NaN     NaN
103                NaN               Aug.   NaN     -1.0       NaN     NaN
104                NaN               Sep.   NaN     -1.0       0.0    -1.0
105                NaN               Oct.   NaN     -1.0       NaN     NaN
106                NaN               Nov.   NaN     -1.0       NaN     NaN
107                NaN               Dec.   NaN     -1.0       0.0    -1.0

       YTD  % Change Dollar Quarterly  ... % Change Index % Change          \
     Sales YTD Sales Volume    Volume  ...  mo/mo.1 (HPI)  yr/yr.6 mo/mo.2
100  12185 -0.268958    0.0       NaN  ...      NaN   NaN      NaN     NaN
101  12185 -0.408610    0.0       0.0  ...      NaN   NaN      NaN     NaN
102  12185 -0.486710    0.0       NaN  ...      NaN   NaN      NaN     NaN
103  12185 -0.543017    0.0       NaN  ...      NaN   NaN      NaN     NaN
104  12185 -0.587969    0.0       0.0  ...      NaN   NaN      NaN     NaN
105  12185 -0.624823    0.0       NaN  ...      NaN   NaN      NaN     NaN
106  12185 -0.654209    0.0       NaN  ...      NaN   NaN      NaN     NaN
107  12185 -0.675171    0.0       0.0  ...      NaN   NaN      NaN     NaN

      5-Year    Hide this column Nominal   Yr/Yr                 LTV  \
    Mortgage Unnamed: 37_level_1   P & I % Chg.1 Unnamed: 40_level_1
100      NaN                 NaN     NaN     NaN                 0.0
101      NaN                 NaN     NaN     NaN                 0.0
102      NaN                 NaN     NaN     NaN                 0.0
103      NaN                 NaN     NaN     NaN                 0.0
104      NaN                 NaN     NaN     NaN                 0.0
105      NaN                 NaN     NaN     NaN                 0.0
106      NaN                 NaN     NaN     NaN                 0.0
107      NaN                 NaN     NaN     NaN                 0.0


    6 month moving avg DOM
100                    NaN
101                    NaN
102                    NaN
103                    NaN
104                    NaN
105                    NaN
106                    NaN
107                    NaN

[8 rows x 42 columns]